@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  color-scheme: dark;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: #ffeed9;
  cursor: url("../../public/cursor.svg") 16 16, default;
  overscroll-behavior: none;
}

input,
textarea {
  cursor: url("../../public/cursor-text.svg") 16 16, text;
}

.cursor-go,
button,
a {
  cursor: url("../../public/cursor-pointer.svg") 16 16, pointer;
}

.h-fill {
  min-height: 100svh;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.animate-me {
  text-transform: uppercase;
  margin: 0;
}

/* for xs screens with browser toolbars */
@media (max-height: 650px) {
  .anim-hero {
    transform: scale(0.7);
    max-height: 205px;
    display: flex;
    align-items: center;
  }
}

.animate-me span {
  display: inline-block;
  position: relative;
  z-index: 1;
  text-align: center;
  padding-left: 6px;
  padding-right: 6px;
}

.animate-me span::before {
  content: "";
  position: absolute;
  background-color: black;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@media (min-width: 768px) {
  .animate-me span {
    padding-left: 8px;
    padding-right: 8px;
  }
}

.bg-default {
  background-color: #ffeed9;
}

.bg-texture {
  background-color: #ffeed9;
  background-image: url("/patterns/handmadepaper.png");
  background-blend-mode: multiply;
}
