@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  color-scheme: dark;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: #ffe9cc;
  overflow-y: hidden;
  cursor: url("../public/cursor.svg") 16 16, default;
}

html,
body,
#__next {
  height: 100%;
}

input,
textarea {
  cursor: url("../public/cursor-text.svg") 16 16, text;
}

button,
a {
  cursor: url("../public/cursor-pointer.svg") 16 16, pointer;
}

.h-fill {
  min-height: 100svh;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.animate-me {
  text-transform: uppercase;
  margin: 0;
  letter-spacing: 16px;
  transform: translateX(9px);
}

/* for xs screens with browser toolbars */
@media (max-height: 650px) {
  .anim-hero {
    transform: scale(0.7);
    max-height: 205px;
    display: flex;
    align-items: center;
  }
}

.animate-me span {
  display: inline-block;
  position: relative;
  z-index: 1;
  text-align: center;
}

.animate-me span::before {
  content: "";
  position: absolute;
  background-color: black;
  z-index: -1;
  top: 0;
  left: -9px;
  width: 29px;
  height: 29px;
}

@media (min-width: 768px) {
  .animate-me {
    letter-spacing: 16px;
    transform: translateX(5px);
  }
  .animate-me span::before {
    top: -2px;
    left: -12px;
    width: 35px;
    height: 35px;
  }
}

.bg-texture {
  background-color: #ffeed9;
  background-image: url("/patterns/handmadepaper.png");
  background-blend-mode: multiply;
}
