@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  color-scheme: dark;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: white;
  background: black;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.animate-me span {
  display: inline-block;
}

/* .email:hover {
  cursor: url("/copyClick.svg") 42.5 42.5, pointer;
} */
