@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  color-scheme: dark;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  /* color: white; */
  background: #ffe9cc;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.animate-me span {
  display: inline-block;
  position: relative;
  z-index: 1;
}

.animate-me span::before {
  content: "";
  position: absolute;
  background-color: black;
  z-index: -1;
  top: -1px;
  left: -2px;
  width: 15px;
  height: 100%;
}

@media (min-width: 768px) {
  .animate-me span::before {
    top: -2px;
    left: -5px;
    width: 26px;
    height: 35px;
  }
}
.bg-texture {
  background-color: #ffe9cc;
  background-image: url("/patterns/handmadepaper.png");
  background-blend-mode: multiply;
}

/* .email:hover {
  cursor: url("/copyClick.svg") 42.5 42.5, pointer;
} */
